---
layout: default
---

<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="www.hwcenter.tk{{ page.url }}"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"hwcenter"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
  <!-- 多说公共JS代码 end -->
  </article>

</section>
