---
layout: default
---

<section id="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date_to_long_string }}
        </time>
      </h5>
    </div>
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <div itemprop="articleBody">
      {{ content }}
    </div>
    <div id="share" class="feat">
      <script type="text/javascript">
      (function(){
      var p = {
      url:location.href,
      showcount:'0',/*是否显示分享总数,显示：'1'，不显示：'0' */
      desc:'',/*默认分享理由(可选)*/
      summary:'',/*分享摘要(可选)*/
      title: '{{ page.title }}',/*分享标题(可选)*/
      site:'EFZ1602作业中心',/*分享来源 如：腾讯网(可选)*/
      pics:'', /*分享图片的路径(可选)*/
      style:'203',
      width:22,
      height:22
      };
      var s = [];
      for(var i in p){
      s.push(i + '=' + encodeURIComponent(p[i]||''));
      }
      document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
      })();
      </script>
      <script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
    </div>
    {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">newer</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">older</span>
      </a>
    {% endif %}
  </article>
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="www.hwcenter.tk{{ page.url }}"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"hwcenter"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
  <!-- 多说公共JS代码 end -->
</section>
